In [14]:
import wbdata
import pandas

wbdata.get_topic()
wbdata.get_indicator(topic=5)

indicators = {"EG.USE.COMM.FO.ZS": "var"}

df = wbdata.get_dataframe(indicators, convert_date=True)
df.info(verbose=True)
df.describe()
df
#df.hist(bins=100)

1 	Agriculture & Rural Development
2 	Aid Effectiveness
3 	Economy & Growth
4 	Education
5 	Energy & Mining
6 	Environment
7 	Financial Sector
8 	Health
9 	Infrastructure
10	Social Protection & Labor
11	Poverty
12	Private Sector
13	Public Sector
14	Science & Technology
15	Social Development
16	Urban Development
17	Gender
18	Millenium development goals
19	Climate Change
20	External Debt
21	Trade
TX.VAL.MMTL.ZS.UN   	Ores and metals exports (% of merchandise exports)
TX.VAL.FUEL.ZS.UN   	Fuel exports (% of merchandise exports)
TM.VAL.MMTL.ZS.UN   	Ores and metals imports (% of merchandise imports)
TM.VAL.FUEL.ZS.UN   	Fuel imports (% of merchandise imports)
NY.GDP.TOTL.RT.ZS   	Total natural resources rents (% of GDP)
NY.GDP.PETR.RT.ZS   	Oil rents (% of GDP)
NY.GDP.NGAS.RT.ZS   	Natural gas rents (% of GDP)
NY.GDP.MINR.RT.ZS   	Mineral rents (% of GDP)
NY.ADJ.DRES.GN.ZS   	Adjusted savings: natural resources depletion (% of GNI)
NY.ADJ.DNGY.GN.ZS   	Adjusted savings: energy depletion (% of GNI)
NY.ADJ.DNGY.CD      	Adjusted savings: energy depletion (current US$)
NY.ADJ.DMIN.GN.ZS   	Adjusted savings: mineral depletion (% of GNI)
NY.ADJ.DMIN.CD      	Adjusted savings: mineral depletion (current US$)
IE.PPI.ENGY.CD      	Investment in energy with private participation (current US$)
IC.FRM.OUTG.ZS      	Value lost due to electrical outages (% of sales for affected firms)
IC.FRM.BNKS.ZS      	Firms using banks to finance investment (% of firms)
IC.ELC.TIME         	Time required to get electricity (days)
IC.ELC.DURS         	Delay in obtaining an electrical connection (days)
EP.PMP.SGAS.CD      	Pump price for gasoline (US$ per liter)
EP.PMP.DESL.CD      	Pump price for diesel fuel (US$ per liter)
EN.ATM.NOXE.EG.ZS   	Nitrous oxide emissions in energy sector (% of total)
EN.ATM.NOXE.EG.KT.CE	Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.METH.EG.ZS   	Energy related methane emissions (% of total)
EN.ATM.METH.EG.KT.CE	Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
EN.ATM.CO2E.LF.KT   	CO2 emissions from liquid fuel consumption (kt)
EN.ATM.CO2E.GF.ZS   	CO2 emissions from gaseous fuel consumption (% of total)
EG.USE.PCAP.KG.OE   	Energy use (kg of oil equivalent per capita)
EG.USE.ELEC.KH.PC   	Electric power consumption (kWh per capita)
EG.USE.CRNW.ZS      	Combustible renewables and waste (% of total energy)
EG.USE.COMM.GD.PP.KD	Energy use (kg of oil equivalent) per $1,000 GDP (constant 2011 PPP)
EG.USE.COMM.FO.ZS   	Fossil fuel energy consumption (% of total)
EG.USE.COMM.CL.ZS   	Alternative and nuclear energy (% of total energy use)
EG.NSF.ACCS.ZS      	Access to non-solid fuel (% of population)
EG.NSF.ACCS.UR.ZS   	Access to non-solid fuel, urban (% of urban population)
EG.NSF.ACCS.RU.ZS   	Access to non-solid fuel, rural (% of rural population)
EG.IMP.CONS.ZS      	Energy imports, net (% of energy use)
EG.GDP.PUSE.KO.PP.KD	GDP per unit of energy use (constant 2011 PPP $ per kg of oil equivalent)
EG.GDP.PUSE.KO.PP   	GDP per unit of energy use (PPP $ per kg of oil equivalent)
EG.FEC.RNEW.ZS      	Renewable energy consumption (% of total final energy consumption)
EG.ELC.RNWX.ZS      	Electricity production from renewable sources, excluding hydroelectric (% of total)
EG.ELC.RNWX.KH      	Electricity production from renewable sources, excluding hydroelectric (kWh)
EG.ELC.RNEW.ZS      	Renewable electricity output (% of total electricity output)
EG.ELC.PETR.ZS      	Electricity production from oil sources (% of total)
EG.ELC.NUCL.ZS      	Electricity production from nuclear sources (% of total)
EG.ELC.NGAS.ZS      	Electricity production from natural gas sources (% of total)
EG.ELC.LOSS.ZS      	Electric power transmission and distribution losses (% of output)
EG.ELC.HYRO.ZS      	Electricity production from hydroelectric sources (% of total)
EG.ELC.FOSL.ZS      	Electricity production from oil, gas and coal sources (% of total)
EG.ELC.COAL.ZS      	Electricity production from coal sources (% of total)
EG.ELC.ACCS.ZS      	Access to electricity (% of population)
EG.ELC.ACCS.UR.ZS   	Access to electricity, urban (% of urban population)
EG.ELC.ACCS.RU.ZS   	Access to electricity, rural (% of rural population)
EG.EGY.PRIM.PP.KD   	Energy intensity level of primary energy (MJ/$2011 PPP GDP)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15312 entries, (Arab World, 2017-01-01 00:00:00) to (Zimbabwe, 1960-01-01 00:00:00)
Data columns (total 1 columns):
var    8117 non-null float64
dtypes: float64(1)
memory usage: 167.1+ KB

                             var
country    date
Arab World 2017-01-01        NaN
           2016-01-01        NaN
           2015-01-01        NaN
           2014-01-01  97.044492
           2013-01-01  97.072934
           2012-01-01  96.592084
           2011-01-01  96.281600
           2010-01-01  96.319420
           2009-01-01  96.612889
           2008-01-01  96.466731
           2007-01-01  96.159110
           2006-01-01  95.674792
           2005-01-01  95.247707
           2004-01-01  95.010257
           2003-01-01  95.256369
           2002-01-01  94.905633
           2001-01-01  95.200028
           2000-01-01  95.109271
           1999-01-01  94.647848
           1998-01-01  94.857323
           1997-01-01  95.006924
           1996-01-01  94.756259
           1995-01-01  94.870966
           1994-01-01  94.159702
           1993-01-01  94.469962
           1992-01-01  94.151380
           1991-01-01  92.937411
           1990-01-01  93.710177
           1989-01-01  94.408602
           1988-01-01  94.289025
...                          ...
Zimbabwe   1989-01-01  43.719706
           1988-01-01  44.241351
           1987-01-01  44.781139
           1986-01-01  38.870002
           1985-01-01  35.475370
           1984-01-01  33.043187
           1983-01-01  32.819442
           1982-01-01  32.292510
           1981-01-01  33.419971
           1980-01-01  34.448283
           1979-01-01  33.184813
           1978-01-01  33.983543
           1977-01-01  34.903331
           1976-01-01  37.737894
           1975-01-01  36.244318
           1974-01-01  38.327153
           1973-01-01  40.663848
           1972-01-01  37.265304
           1971-01-01  39.785444
           1970-01-01        NaN
           1969-01-01        NaN
           1968-01-01        NaN
           1967-01-01        NaN
           1966-01-01        NaN
           1965-01-01        NaN
           1964-01-01        NaN
           1963-01-01        NaN
           1962-01-01        NaN
           1961-01-01        NaN
           1960-01-01        NaN

[15312 rows x 1 columns]